body {
    background-image: url(./assets/shooting-star.gif);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
}

#user-input {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    position: absolute;
    align-content: center;
    justify-content: center;
    left: -200px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    top: -120px;
}

#answer-area {
    position: absolute;
    color: pink;
    top: 190px;
    font-size: 1.2rem;
    font-family: 'Teko', cursive;
}

#eight-ball {
    position: relative;
    display: block;
    object-position: center;
    top: 50px;
}

#roll-button {
    border: 1px solid black;
    border-radius: 50%;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    color: black;
    top: -150px;
    left: 120px;
    font-family: 'Teko', cursive;
    font-size: 1.6rem;
}

.eight-ball-entire {
    position: relative;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-action {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 500px;
}

