#user-input {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    position: absolute;
    /* margin-top: 450px; */
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

#answer-area {
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: pink;
}

#eight-ball {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#roll-button {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 500px;
    margin-left: 150px; */
    color: black;
}