body {
    
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

#user-input {
    border: 1px solid black;
    width: 300px;
    height: 50px;
    position: absolute;
    align-content: center;
    justify-content: center;
    left: -145px;
}

#answer-area {
    /* width: 11vw;
    height: 10vh;
    position: absolute;
    z-index: 3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-align: center;
    position: center; */
    position: absolute;
    color: pink;
    top: 240px;
}

#eight-ball {
    position: relative;
    display: block;
    object-position: center;
    top: 100px;
    /* z-index: 1;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; */
}

#roll-button {
    border: 1px solid black;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    color: black;
    top: 40px;
    left: -40px;
}

.eight-ball-entire {
    position: relative;
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-action {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 500px;
}
